html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  color: red;
  background-color: black;
}

.app.over {
  color: black;
  background-color: red;
  transition: background-color 0.2s ease;
}

.key {
  background-color: darkred;
  color: lightsalmon;
  border-radius: 3px;
  padding: 0 0.3rem;
}

.board {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.over .board {
  border-color: black;
}

.help {
  list-style: none;
  padding: 0;
}

.row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.row + .row {
  margin-top: -1px;
}

.cell {
  flex-grow: 1;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.cell + .cell {
  margin-left: -1px;
}

.over .cell {
  border-color: black;
}

.snake {
  background-color: red;
}

.over .snake {
  background-color: black;
  animation: short-blink 0.2s step-end 2;
}

.food {
  background-color: white;
}

.over .food {
  background-color: white;
}

@keyframes short-blink {
  0% {
    background-color: red;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: red;
  }
}
